body {
    margin: 0;
    background-color: #f5eddd;
}

.mainBlock {
    display: grid;
    gap: 5px;
    padding: 10px;
    align-content: center;
    justify-items: start;
    align-items: start;
    justify-content: start;
}

.minerals {
    display: grid;
    width: 400px;
    gap: 5px;
    align-content: center;
    justify-items: end;
    align-items: start;
    padding: 5px;
    justify-content: start;
}

.calculateButton {
    width: 100px;
    height: 30px;
}

.items {
    border: 5px solid #ff8c2e;
}

.line {
    background-color: aliceblue;
}

.thLine {
    border: 2px solid #3a322b;
}

.inputMinerals {
    background-color: #d1f4ff;
    width: 80px
}

.labelMinerals{
    font-size: large;
}