body {
    margin: 0;
    background-color: #f5eddd;
}

.calculateButton {
    position: absolute;
    width: 100px;
    height: 30px;
    left: 10px;
    top: 250px;
}

.items {
    border: 5px solid #ff8c2e;
    position: absolute;
    left: 10px;
    top: 300px;
}

.line {
    background-color: aliceblue;
}

.thLine {
    border: 2px solid #3a322b;
}

.inputMinerals {
    background-color: #d1f4ff;
    width: 100px
}

.labelIsogen {
    position: absolute;
    left: 10px;
    top: 10px;
}

.labelMegacyte {
    position: absolute;
    left: 10px;
    top: 40px;
}

.labelMexallon {
    position: absolute;
    left: 10px;
    top: 70px;
}

.labelNocxium {
    position: absolute;
    left: 10px;
    top: 100px;
}

.labelPyerite {
    position: absolute;
    left: 10px;
    top: 130px;
}

.labelTritanium {
    position: absolute;
    left: 10px;
    top: 160px;
}

.labelZydrine {
    position: absolute;
    left: 10px;
    top: 190px;
}

.labelMorphite {
    position: absolute;
    left: 10px;
    top: 220px;
}